

body {
    background-color: bisque;
}

.otro{
    background: azure;
    text-align: center;
}

.titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#unico{
    text-align: end;
}

img{
    width: 800px;
    height: 400px;
}

